<!DOCTYPE html>  
<html>  
    <head>  
        <meta charset="utf-8">  
        <title>视频列表</title>  
        <!-- 插入jquery -->  
        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/draw.js')}}"></script>
        <script src="{{url_for('static', filename='js/mark.js')}}"></script>
        <script src="{{url_for('static', filename='js/config.js')}}"></script>
        <script src="{{url_for('static', filename='js/util.js')}}"></script>
        <script type=text/javascript>
var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};  
        </script>  
        <script type=text/javascript>


var mark_list = new Array();
var coordinate_list = new Array();
var mark_div_list = new Array();
var green_point = -1;
$(function() {  

    $("#show_mark_idx").attr("checked",SWITCH_SHOW_MARK_IDX);
    video_name=getUrlParam('video_name')
    video_name_short=getUrlParam('video_name').split('/')
    video_name_short=video_name_short[video_name_short.length - 1];
    image_id=getUrlParam('image_id')
    // var t_src = $(".div1 img").attr('src');
    $(".div1 img").attr('src','/static/data/'+ video_name_short + '/rgb/' + image_id)
        $.post($SCRIPT_ROOT + '/simple/mark/adjoin',{'video_name':video_name,'image_id':image_id},function(data){
            $("#image_order").text("标记点列表" + (1+data.idx) + '/' + data.tot);
            if (data.st != '-1'){
                $("#previous_image").attr("href","/simple/mark?video_name=" + video_name + "&image_id=" + data.st);
            }else{
                $("#previous_image").attr("href",'javascript:void(0)');
                $("#previous_image").attr("class",'button disabled');
            }
            if (data.ed != '-1'){
                $("#next_image").attr("href","/simple/mark?video_name=" + video_name + "&image_id=" + data.ed);
            }else{
                $("#next_image").attr("href",'javascript:void(0)');
                $("#next_image").attr("class",'button disabled');
            }
        });

    $.post($SCRIPT_ROOT + '/simple/mark/list',{'video_name':video_name,'image_id':image_id},function(data){
        
        mark_list = data.mark_list;
        coordinate_list = data.coordinate_list;
        var length = data.mark_list.length;
        for(var i =0;i<length;i++){
            point= new Object();
            point.x = WIDTH_OFFSET + parseInt(mark_list[i]['x']);
            point.y = HEIGHT_OFFSET + parseInt(mark_list[i]['y']);
            ret = SolidCircle(point.x,point.y,5,2,COLOR_MARK, i);
            point.circle = ret;
            idx = mark_div_list.length;
            mark_div_list.push(point);
            $("#mark_list").append("<li idx=" + idx + ">(" + mark_list[i]['x'] + ',' + mark_list[i]['y'] + ")<pre>" + coordinate_list[i]['x']+ coordinate_list[i]['y'] + coordinate_list[i]['z'] + "</pre></li>");
        }	
    }); 
    $(".div1").click(function(e) {

        var offset = $(this).offset();
        var relativeX = (e.pageX - offset.left);
        var relativeY = (e.pageY - offset.top);
        // console.log(JSON.stringify({'video_name':video_name,'image_id':image_id,'mark':relativeY+','+relativeX}));
        ok = true;
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            url: $SCRIPT_ROOT + '/simple/mark/check',
            data: JSON.stringify({'video_name':video_name,'image_id':image_id,'mark':relativeY+','+relativeX}),
            dataType:'json',
            success: function(data){
                // console.log(data);
                // console.log(data.ok == 'false');
                if (data.ok == 'false'){
                    ok = false;
                    alert('该点坐标有问题，请选择其他坐标');
                    return;
                }else{
                    
                    ret = SolidCircle(e.pageX,e.pageY,5,2,COLOR_LIGHT_MARK,coordinate_list.length);
                    point= new Object();
                    point.x = e.pageX;
                    point.y = e.pageY;
                    point.circle = ret;
                    if(SWITCH_MODIFY_MARK == true && green_point != -1){ // modify 修正点
                        SWITCH_MODIFY_MARK=false;
                        mark_div_list[green_point] = point;
                        mark_list[green_point] = {'x':relativeX,'y':relativeY};
                        coordinate_list[green_point] = {'x':data.coordinate[0],'y':data.coordinate[1],'z':data.coordinate[2]};

                        $("#mark_list li[idx="+green_point+']').html("(" + relativeX + ',' + relativeY + ")<pre>" + data.coordinate + "</pre>");
                         mark_div_list[green_point].circle[CIRCLE_IDX_LOC].innerHTML = green_point;
                         //for(var j =0;j<mark_div_list[green_point].circle.length;j++){
                         //   mark_div_list[green_point].circle[j].style.backgroundColor= COLOR_MARK;
                        //}
                    }else{ // 插入新点
                        idx = mark_div_list.length;
                        mark_div_list.push(point);
                        mark_list.push({'x':relativeX,'y':relativeY});
                        coordinate_list.push({'x':data.coordinate[0],'y':data.coordinate[1],'z':data.coordinate[2]});
                        if (green_point != -1){
                            $("#mark_list li[idx="+green_point+"]").attr('style','');
                            for(var j =0;j<mark_div_list[green_point].circle.length;j++)
                                mark_div_list[green_point].circle[j].style.backgroundColor= COLOR_MARK;
                            //ret = SolidCircle(mark_div_list[green_point].x,mark_div_list[green_point].y,5,2,'red');
                        }
                        green_point = idx;
                        $("#mark_list").append("<li style='background-color:green;color:white'  idx=" + idx + ">(" + relativeX + ',' + relativeY + ")<pre>" + data.coordinate + "</pre></li>");
                    }

                }
            },
            error: function(data){
                console.log(data);
            }
        });
    });
    $("#reset_mark").click(function(e) {
        for(var i=0;i<mark_div_list.length;i++){
             // console.log(i);
             // console.log(mark_div_list[i]);
             // console.log(typeof(mark_div_list[i]));
             if(typeof(mark_div_list[i]) == 'undefined'){
                console.log(i);
                continue;
            }
            for(var j=0;j<mark_div_list[i].circle.length;j++){
                document.body.removeChild(mark_div_list[i].circle[j]);	
            }
        }
        $("#mark_list").empty();
        mark_list = [];
        coordinate_list = [];
        mark_div_list = [];
        green_point = -1;
    });
    $("#remove_mark").click(function(e) {
        if(green_point == -1 || typeof(mark_div_list[green_point]) == undefined)
            return;
        for(var j=0;j<mark_div_list[green_point].circle.length;j++){
            document.body.removeChild(mark_div_list[green_point].circle[j]);	
        }
        $("#mark_list li[idx="+green_point+']').remove();

        mark_list.splice(green_point,1);
        coordinate_list.splice(green_point,1);
        mark_div_list.splice(green_point,1);

        mark_list_children = $('#mark_list').children();
        for(var j=0;j<mark_list_children.length;j++){
            mark_list_children[j].setAttribute('idx',j);
            if(SWITCH_SHOW_MARK_IDX){
                mark_div_list[j].circle[CIRCLE_IDX_LOC].innerHTML = j;
                mark_div_list[j].circle[CIRCLE_IDX_LOC].style.color = COLOR_MARK_IDX;
            }
        }
        green_point = -1;
    });
    $("#modify_mark").click(function(e) {
        if(green_point == -1 || typeof(mark_div_list[green_point]) == undefined)
            return;
        for(var j=0;j<mark_div_list[green_point].circle.length;j++){
            document.body.removeChild(mark_div_list[green_point].circle[j]);
        }
        SWITCH_MODIFY_MARK=true;
        $("#mark_list li[idx="+green_point+']').html("请选择新点");

        delete mark_list[green_point];
        delete coordinate_list[green_point];
        delete mark_div_list[green_point];
    });
    $("#submit_mark").click(function(e) {
        mark_list = mark_list.filter(function(val){
            return !(!val || val === '');
        });
        coordinate_list = coordinate_list.filter(function(val){
            return !(!val || val === '');
        });
        data = {'video_name':video_name,'image_id':image_id, 'mark_list':mark_list, 'coordinate_list':coordinate_list};
        data = JSON.stringify(data);
        $.ajax({
            type:'POST',
            url:$SCRIPT_ROOT + '/simple/mark/save',
            contentType: "application/json; charset=utf-8",
            data:data,
            dataType:'json',
            success:function(data){
            alert('保存完成');
            } 
        });
    });
    $(".div2 ol").on("click","li", function() {
        var idx = $(this).attr('idx');
        if (green_point != -1){
            $("#mark_list li[idx="+green_point+"]").attr('style','');
            for(var j =0;j<mark_div_list[green_point].circle.length;j++)
                mark_div_list[green_point].circle[j].style.backgroundColor=COLOR_MARK;
        }
        green_point = parseInt(idx);
        for(var j =0;j<mark_div_list[green_point].circle.length;j++)
            mark_div_list[green_point].circle[j].style.backgroundColor=COLOR_LIGHT_MARK;
        $("#mark_list li[idx="+green_point+"]").attr('style','background-color:green;color:white');

    });
    $("#show_mark_idx").click(function(){
        if($(this).is(":checked")==true){
            SWITCH_SHOW_MARK_IDX = true;
            for(var j=0;j<mark_div_list.length;j++){
                mark_div_list[j].circle[CIRCLE_IDX_LOC].innerHTML = j;
                mark_div_list[j].circle[CIRCLE_IDX_LOC].style.color = COLOR_MARK_IDX;
            }

        }else{
            //当前为不选中状态
            SWITCH_SHOW_MARK_IDX = false;
            for(var j=0;j<mark_div_list.length;j++){
                mark_div_list[j].circle[CIRCLE_IDX_LOC].innerHTML = '';
            }
        }
    });
});
</script>
        <link rel="stylesheet" href="{{url_for('static', filename='mark.css')}}" type="text/css" />
</head>
    <body>  
        <h1 id='image_order'></h1>
        <hr>
        <div class='container'>
            <div class="div1"><img src=""/></div>
            <!-- <div class="div1"><img src="{{url_for('static',filename='data')}}"/></div> -->
            <div class="div2"><ol type="1" start="0" id='mark_list'></ol></div>
            <div class="line_container"></div>
        </div>
        <button id='modify_mark'>修正选中标记</button>
        <button id='remove_mark'>去除选中标记</button>
        <button id='reset_mark'>重置图像标记</button>
        <button id='submit_mark'>提交</button>
        <hr>
        <a href=''class='button' id='previous_image'>上一个</a>
        <a href=''class='button' id='next_image'>下一个</a>
        <input type="text" name="height_slice" value="10">
        <input type="text" name="width_slice" value="10">
        <input type="checkbox" id="show_mark_idx">是否显示标记编号
        <button class='button ' onclick="generatePoints()">生成</button>
        <button class='button ' onclick="preGeneratePoints()">预标记</button>
    </body>  
</html>   
